<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vip.sdk.uilib.video">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application >

        <activity android:name="com.vip.sdk.uilib.media.video.widget.FullScreenVideoActivity"
            android:theme="@style/FullScreenVideoTheme"/>

    </application>

</manifest>
